<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://nothingbar.bestk1ng.com/</string>
	<key>SUPublicEDKey</key>
	<string>ExOTAuWclCnqcmBPh91agO5TX4fjdfu7sgyHIfAmLn0=</string>
</dict>
</plist>
